body{
  background: #FFC727;
  font-family: 'Noto Sans Arabic', sans-serif
}
.orange{
  color: #FFC727;
  font-family: 'Noto Sans Arabic', sans-serif

}
.info{
  color: #008AFF;
  font-family: 'Noto Sans Arabic', sans-serif

}
.font-size-20{
  font-size: 20px;
  font-family: 'Noto Sans Arabic', sans-serif

}
.card{
  background-color: #FFC727;
  border-radius: 10px;
  padding: 10px;
}
.card-1{
  background-color: #222222;
  color: #FFC727;
  padding: 10px;

}
.card-p{
  color: #222222;
}
.card-p:hover{
  color: #FFC727;
}
.card > p > svg:hover{
  color: #FFC727;
}
.card:hover{
  background-color: #222222;
  color: #FFC727;
  padding: 10px;
  fill: #FFC727;
}
.font-48{
  font-size: 48px;
  font-family: 'Noto Sans Arabic', sans-serif

}
.orange1,.orange2,.orange3,.orange4,.orange5,.orange6,.orange7,.orange8,.orange9,.orange10{
  display: none;
}
.card5,.card6,.card7,.card8,.card9,.orange10{
  display: none;
}

svg:hover path {    fill: #d39f11;}
@media screen and (max-width: 480px) {
  .list-inline {
    display: flex;
    padding-left: 0;
    list-style: none;
}
}